/* App.css */
/* Maximiza la altura y el ancho de la aplicación */
.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%; /* Ocupa todo el ancho */
  height: 92vh; /* Ocupa toda la altura de la pantalla */
}

.sidebar {
  width: 30%; /* Ajusta el ancho de la barra lateral */
  background-color: #ffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius:20px;
}


.menu-button {
  background-color: #1d3557;
  color: #FFE98B;
  border: none;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  width: 90%; 
  border-radius:20px;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #1d3557; /* Borde adicional para resaltar */
}

.menu-button:hover {
  background-color: #457b9d;
}

/* Estilo del botón activo */
.menu-button.active {
  background-color: #396c9b; /* Color de fondo cuando está activo */
  border: 2px solid #ffee8b; /* Borde adicional para resaltar */
}


.icon {
  font-size: 28px; /* Aumenta el tamaño del ícono */
  margin-bottom: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.description {
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
  line-height: 1.5;
  color: #FFE98B;
}

.content {
  width: 70%;
  padding: 20px;
  background-color: #cbdcf7;
  border: 5px solid #0d3b66;
  border-radius: 50px;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu {
  padding: 20px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.submenu-item {
  background-color: #2A4D6E;
  color: #FFE98B;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-radius: 20px;
  width: 40%;
  transition: background-color 0.3s;
  height: 6em;
  display: flex; /* Para alinear el texto y el ícono en la misma línea */
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}

.submenu-item:hover {
  background-color: #396c9b;
}

.submenu-text {
  font-size: 20px;
}

.close-button {
  position:fixed;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #1d3557;
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
}


.minijuego-highlight {
  background-color: #2A4D6E;
  border: 4px solid #ffee8b; 
}

.minijuego-highlight:hover {
  transition: 0.5s;
  background-color: #39989b; /* Color para el estado hover */
  
}

.content-initial {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  margin:0 50px 0 50px;
}

.subcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}


.subcontent h1{
  color: #1d3557;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 0em;
}

.subcontent h2{
  color: #1d3557;
  font-weight: bolder;
  font-size: 30px;
}

.subcontent p{
  color: #000000;
  font-size: 20px;
  margin: 0 15% 0 15%;
}


.main-logo {
  width: 20%; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción */
  display: block; /* Asegura que la imagen sea visible */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
.content-main::-webkit-scrollbar {
  display: none;
}

.navigation-button {  
  background-color: #1d3557;
  color: #FFE98B;
  border: none;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius:10px;
  transition: background-color 0.3s;
  align-items: center;
  border: 2px solid #1d3557; /* Borde adicional para resaltar */
  width: 102px;
  font-weight: bold;
  font-size: 15px;
}

.navigation-button:hover {
  background-color: #396c9b;
}

.content-main {
  padding: 20px;
  text-align: center;
}

.buttons-nextprev{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

/* Indicadores */
.indicators {
  display: flex;
  gap: 5px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
  border: 1px solid #1d3557; /* Borde adicional para resaltar */
}

.indicator.active {
  background-color: #1d3557;
}