/* Estructura general de la página Variables */
.variables-page {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 20px;
  }

  .titulo{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .variables-header {
    background-color: #2d3e50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .back-button, .favorite-button {
    background: none;
    border: none;
    color: #ffe98b;
    font-size: 24px;
    cursor: pointer;
  }
  
  .page-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .variables-content {
    display: flex;
    padding: 20px;
  }

  
  .code-languages {
    text-align: center;
    font-size: 16px;
  }
  
  .code-languages p {
    margin: 10px 0;
  }
  

  .operations-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;

    border-radius: 8px;
    border: 2px solid #2d3e50;
    position: relative;
    height: 100%;
  }
  
  .operation-icon {
    font-size: 24px;
    color: #333;
  }
  
  .operation-box {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  

  
  .description-section, .examples-section {
    margin: 20px;
  }
  
  .description-section h2, .examples-section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description-section p, .examples-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  .operations-panel {
    display: flex;
    width: 100%;
    max-width: 1500px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc; /* Opcional: bordes */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    overflow: hidden;
    background-color: rgba(203, 220, 247); /* Fondo opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    align-items: center;
  }
  
  .unity-frame {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9; /* Mantener la proporción 16:9 */
    border: none; /* Quita el borde del iframe */
  }
  
  @media (max-width: 768px) {
    .operations-panel {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .operations-panel {
      padding: 5px;
    }
    
    .unity-frame {
      aspect-ratio: 4 / 3;
     }
  
  }