/* Estructura general de la página Variables */
.variables-page {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 20px;
  }

  .titulo{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .variables-header {
    background-color: #2d3e50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .back-button, .favorite-button {
    background: none;
    border: none;
    color: #ffe98b;
    font-size: 24px;
    cursor: pointer;
  }
  
  .page-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .variables-content {
    display: flex;
    padding: 20px;
  }
  
  /* Barra lateral */
   .sidebar2 {
    width: 20%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .code-languages {
    text-align: center;
    font-size: 16px;
  }
  
  .code-languages p {
    margin: 10px 0;
  }
  
  /* Panel principal */
  .main-panel {
    height: 65vh;
    width: 80%;
    margin-left: 20px;
  }
  
  .operations-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;

    border-radius: 8px;
    border: 2px solid #2d3e50;
    position: relative;
    height: 100%;
  }
  
  .operation-icon {
    font-size: 24px;
    color: #333;
  }
  
  .operation-box {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  

  
  .description-section, .examples-section {
    margin: 20px;
  }
  
  .description-section h2, .examples-section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description-section p, .examples-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  