.variables-page {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 20px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.back-button, .favorite-button {
  background: none;
  border: none;
  color: #ffe98b;
  font-size: 24px;
  cursor: pointer;
}

.page-title {
  font-size: 18px;
  text-transform: uppercase;
}

.code-languages {
  text-align: center;
  font-size: 16px;
}

.code-languages p {
  margin: 10px 0;
}

/* ::-webkit-scrollbar {
  display: none;
  } */


.description-section, .examples-section, .videos-section{
  margin: 20px;
  
}

.description-section{
  margin-left: 10%; margin-right: 10%;
  
}

.description-section h2, .examples-section h2, .videos-section h2{
  font-size: 25px;
  color: #1e61a0;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}

.description-section h3, .examples-section h3, .videos-section h3{
  font-size: 22px;
  color: #1e61a0;

}

.description-section p, .examples-section p, .videos-section p{
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

/* Contenedor de Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f1f1f1;
  margin-left: 10%; margin-right: 10%;
}

/* Estilos para cada Tab */
.tab {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #000000;
  border: none;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s, color 0.3s;
  border-bottom: 2px solid #0d3b66;
  
}

.tab:hover {
  background-color: #457b9d;
  color: #e6f3ff;
}

.tab.active {
  background-color: #ffffff;
  border: 2px solid #0d3b66;
  border-bottom: none;
  color: #000000;
}

/* Contenedor dinámico (contenido de las pestañas) */
.variables-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  color: #000000;
  text-align: left;
  line-height: 1.8;
  font-size: 16px;
  border: 2px solid #0d3b66;
  border-top: none;
  padding-left: 5%; padding-right: 5%;
  margin-left: 10%; margin-right: 10%;
}

/*VIDEO*/
.Videos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.Videos iframe{
  min-height: 720px;
}

.Video img{
  max-width:854px;
  max-height:480px;
}

